<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sharpapp</title>
    <meta name="Description" content="I'm a C# enthusiast and .NET developer. Sharpapp.net is a website where I would like to share my work." />
    <meta name="Keywords" content="Marek Łańduch, Marek, Łańduch, Landuch, Marek Landuch, sharpapp, sharpapp.net, sharp, beamer, wild, guns, windows, universal windows platform, uwp, programming, coder, software, web, developer" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="Sharpapp" />
    <meta property="og:description" content="I'm a C# enthusiast and .NET developer. Sharpapp.net is a website where I would like to share my work." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sharpapp.net" />
    <meta property="og:image" content="http://www.sharpapp.net/img/logo450.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800" rel="stylesheet" type="text/css">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
