<!DOCTYPE html>
<html>
@await Html.PartialAsync("~/Views/Shared/_Head.cshtml")
<body>
@await Html.PartialAsync("~/Views/Shared/_Navbar.cshtml")
<header class="main-header">
    <div class="container">
        <div class="dimmed-layer"></div>
        <div class="row">
            <div class="offset-3 col-6 text-center">
                <h1>Hi, I am Mark!</h1>
                <h3>I'm a C# enthusiast and .NET developer. Sharpapp.net is a website where I would like to share my work.</h3>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-12">
            @RenderBody()
        </div>
    </div>
</div>
<footer class="border-top text-muted footer">
    <div class="container">
        <div class="offset-2 col-8 text-center">
            Created by <a href="https://www.sharpapp.net">sharpapp.net</a> &copy; 2019
        </div>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
