@model SharpBlog.Client.ViewModels.Account.ChangePasswordViewModel
@{
    Layout = "_CleanLayout";
}

<body class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Change your password</h3>
                                <form asp-controller="Account" asp-action="ChangePassword" method="post">
                                    <div class="form-label-group">
                                        <input asp-for="OldPassword" class="form-control" id="inputOldPassword" placeholder="Old password" autofocus>
                                        <label for="inputOldPassword">Old password</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input asp-for="NewPassword" class="form-control" id="inputNewPassword" placeholder="New password">
                                        <label for="inputNewPassword">New password</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input asp-for="ConfirmNewPassword" id="inputConfirmNewPassword" class="form-control" placeholder="Confirm new password">
                                        <label for="inputConfirmNewPassword">Confirm new password</label>
                                    </div>

                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>