@model SharpBlog.Client.ViewModels.PostViewModel

<div class="container">
    @await Html.PartialAsync("~/Views/Blog/Comment/_CommentForm.cshtml", Model.CommentFormViewModel)
</div>

@foreach (var comment in Model.Post.Comments.OrderByDescending(c => c.InputDate))
{
    <div class="container">
        @await Html.PartialAsync("~/Views/Blog/Comment/_Comment.cshtml", comment)
    </div>
}

